In [47]:
print([i+j for i in "abc" for j in "def"]) # the counter first moves in the innermost loop

['ad', 'ae', 'af', 'bd', 'be', 'bf', 'cd', 'ce', 'cf']

In [46]:
input_str = ('wood','old','apple','big','item','euphoria')
input_list=['wood','old','apple','big','item','euphoria']

list_vowel=[i for i in input_list if i[0] in ("aeiou")]
print(list_vowel)

['old', 'apple', 'item', 'euphoria']

In [43]:
# Comprehension example : [output expected for i in (list/tuple)]

n = int(input())

l3=[i**2 for i in range(n+1)]

l3

4

[0, 1, 4, 9, 16]

In [11]:
d = {0: 'Fish', 1: 'Bird', 2: 'Mammal'}
for a in d:
    print(a)

0
1
2

In [34]:
input_str=('VARMA', 'raj', 'Gupta', 'SaNdeeP')
input_list=['VARMA', 'raj', 'Gupta', 'SaNdeeP']
ans=[]

for i in input_list:
    ab=i.lower()  #all names are now in small case
    bc=list(ab)
    bc[0]=bc[0].upper()
    cd=''.join(bc)
    ans.append(cd)
   
print(ans)

['Varma', 'Raj', 'Gupta', 'Sandeep']

In [1]:
name = input("Enter your name : ")
print("Welcome", name)

Enter your name : J
Welcome J

In [2]:
box = input("enter you age:")
print("your age is", box)

enter you age:45
your age is 45

In [3]:
name = input("enter you age:")
print("you have wasted",name,"of your life")

enter you age:45
you have wasted 45 of your life

In [4]:
alpha=3
beta=3.6
print(type(alpha),
      type(beta))

<class 'int'> <class 'float'>

In [5]:
ceta=int(beta)
print(ceta)

3

In [6]:
delta=str(alpha)
print(delta)

3

In [7]:
meta=(ceta==delta)
print(meta)

False

In [8]:
type(meta)

bool

In [9]:
ab=int(True)
print(ab)

1

In [10]:
bool(1==0)

False

In [11]:
num1=5
num2=9
print(num1+num2,num1-num2,int(num1/num2),num1*num2)

14 -4 0 45

In [12]:
num3=99%num1 #this is for remainder
num4=num2**2  #this is for exponential
num5=17//2 #this is for quotient or floor division
print(num3,num4,num5)

4 81 8

In [14]:
print(num1//num2) #quotient

0

In [15]:
print(num1%num2) #remainder

5

In [16]:
string = 'mvqugvqhc2ndoi' #the function "len()" is used to measure the number of characters present in the string.
len(string)

14

In [22]:
#indenxing :- In a string, each character is stored in a place called index. We can call out individual... cont below
# by using square brackets "[]"
bac= "Sardar"
a= bac[3] # the thing to note is that 1st character is stored as '0' zero.
b= bac[0]
c= bac[-1] # negative sign is used to call out character from behind.
print(a,b,c)

d S r

In [27]:
print(9,'years old')
print(str(9) + ' years old')

9 years old
9 years old

In [34]:
cbc= 1268
rat= 15
cbc/rat

84.53333333333333

In [35]:
print(cbc)

1268

In [3]:
tup = (2,3.2,4,5)
print(sum(tup),
min(tup),
max(tup))

14.2 2 5

In [4]:
t = ("disco", 12, 4.5)
t[0][2]

's'

In [5]:
L = ['one','two','three', 'four', 'five', 'six']
print(sorted(L))
print (L)

['five', 'four', 'one', 'six', 'three', 'two']
['one', 'two', 'three', 'four', 'five', 'six']

In [9]:
input_str = ["pika", 123, 'chica', 233]
bac=str(input_str)
print(bac)
#string_1 = ' PP '.join(bac)
#print(string_1)

['pika', 123, 'chica', 233]

In [48]:
min = (lambda x, y: x if x < y else y)
min(101*99, 102*98)

9996

In [52]:
list_numbers = (1,2,3,4)
sample_map = map(lambda x: x*2, list_numbers)
print(list(sample_map))

[2, 4, 6, 8]